.about_section{
     background-color: #1abc9c;
    height: 80vh;

   
    color: white;
}
.about_section h2{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    font-weight: 600;
}
.about_section p{
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.2;
   
    
}